[submodule "vendor/com/github/h5bp/html5-boilerplate"]
	path = vendor/com/github/h5bp/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git
[submodule "vendor/com/github/h5bp/mobile-boilerplate"]
	path = vendor/com/github/h5bp/mobile-boilerplate
	url = https://github.com/h5bp/mobile-boilerplate.git
[submodule "vendor/com/github/dhg/Skeleton"]
	path = vendor/com/github/dhg/Skeleton
	url = https://github.com/dhg/Skeleton.git
[submodule "vendor/com/github/c00kiemon5ter/hello-world"]
	path = vendor/com/github/c00kiemon5ter/hello-world
	url = https://github.com/c00kiemon5ter/hello-world.git
[submodule "vendor/com/github/leachim6/hello-world"]
	path = vendor/com/github/leachim6/hello-world
  url = https://github.com/leachim6/hello-world.git
  ignore = dirty
[submodule "vendor/com/github/e36freak/templates"]
	path = vendor/com/github/e36freak/templates
	url = https://github.com/e36freak/templates.git
[submodule "vendor/com/github/oxyc/bash-boilerplate"]
	path = vendor/com/github/oxyc/bash-boilerplate
	url = https://github.com/oxyc/bash-boilerplate.git
[submodule "vendor/com/github/alphabetum/bash-boilerplate"]
	path = vendor/com/github/alphabetum/bash-boilerplate
	url = https://github.com/alphabetum/bash-boilerplate.git
[submodule "vendor/com/github/connermcd/bash-boilerplate"]
	path = vendor/com/github/connermcd/bash-boilerplate
	url = https://github.com/connermcd/bash-boilerplate
[submodule "vendor/com/github/chrisopedia/bash-boilerplate"]
	path = vendor/com/github/chrisopedia/bash-boilerplate
	url = https://github.com/chrisopedia/bash-boilerplate
[submodule "vendor/com/github/alebcay/awesome-shell"]
	path = vendor/com/github/alebcay/awesome-shell
	url = https://github.com/alebcay/awesome-shell.git
[submodule "vendor/com/github/basecamp/sub"]
	path = vendor/com/github/basecamp/sub
	url = https://github.com/basecamp/sub.git
[submodule "vendor/com/github/Mosai/workshop"]
	path = vendor/com/github/Mosai/workshop
	url = https://github.com/Mosai/workshop.git
[submodule "vendor/com/github/erichs/composure"]
	path = vendor/com/github/erichs/composure
	url = https://github.com/erichs/composure.git
[submodule "vendor/com/github/jmcantrell/bashful"]
	path = vendor/com/github/jmcantrell/bashful
	url = https://github.com/jmcantrell/bashful.git
